.ms_white {
  color: white;
}

.ms_blue {
color: #2c3e50;
}

.bg_green {
  background-color: #1abc9c;
}

.ms_uppercase {
  text-transform: uppercase;
}

.ms_star i {
  font-size: 28px;
  vertical-align: middle;
  margin: 15px 3% 20px 3%;
}

.ms_star::before ,
.ms_star::after {
  content:'';
  display: inline-block;
  width: 15%;
  height: 4px;
  border-radius: 2px;
}

.ms_star.bg_white::before ,
.ms_star.bg_white::after {
  background-color: white;
}

.ms_star.bg_blue::before ,
.ms_star.bg_blue::after {
  background-color: #2c3e50;
}

section {
  padding: 60px 0;
}

h1 {
  font-size: 300%;
  font-weight: bold;
}

h2 {
  font-size: 200%;
  font-weight: bold;
}

h3 {
  font-size: 18px;
}

p {
  line-height: 1.6;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}

/* Header */
header {
  height: 90px;
}
.navbar.ms_navbar {
  background-color: #2c3e50;
  border: 0;
  margin-bottom: 0;
  padding: 20px 0;
}

.navbar.ms_navbar .navbar-brand ,
.navbar.ms_navbar .navbar-right li a {
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.navbar.ms_navbar .navbar-brand {
  font-size: 20px;
}

.navbar.ms_navbar .navbar-right li a:hover{
  color:#1abc9c;
}

/* Portfolio */
#portfolio img {
  width: 100%;
  margin-bottom: 30px;
  border-radius: 10px;
}

/* About */
#about .row {
  padding: 0 10%;
}

#about p {
  margin: 20px;
}

#about .btn_download {
  padding: 8px;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 18px;
}

#about .btn_download:hover {
  color: #2c3e50;
  text-decoration: none;
  border: 1px solid #2c3e50;
}

@media screen and (min-width:992px) {
  .navbar.ms_navbar .navbar-brand {
    font-size: 30px;
  }

  h1 {
    font-size: 400%;
  }

  h2 {
    font-size: 300%;
  }

  h3 {
  font-size: 24px;
  }
}
